@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse.woff2') format('woff2'),
        url('fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Partie de gauche */

.left {
    position: relative;
    text-align: center;
    width: 35%;
    height: 100%;
}

img[src="img/background-image.jpg"] {
    width: 100%;
    height: 100%;
}

.left div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 8px;
    background-color: rgb(0 0 0 / 0.7);
    top: 10rem;
}

div img {
    height: 80px;
}

.left div p {
    font-family: 'Norse';
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.5;
    color: white;
}

.credit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    color: white;
}

/* Partie de droite */

.right,
.promotional,
form,
.connexion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    width: 65%;
    background-color: rgb(211 211 211 / 0.5);
    gap: 48px;
    justify-content: center;
    height: 100%;
}

.promotional,
h2 {
    font-size: 1.5rem;
    font-weight: 500;
    width: 75%;
}

.promotional,
.connexion {
    margin-left: 48px;
}

/* BLOC INPUT */

form {
    padding: 1rem 3rem;
    background-color: white;
    box-shadow: 0px 2px 8px 2px rgb(0 0 0 / 0.2);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1rem;
    width: 500px;
}

form p {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 200px;
}

label {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    color: darkslategray;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 0.25rem;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 1px 2px 16px 2px rgb(0 0 0 / 0.2);
}

input:invalid {
    border: 1px solid red;
}

input:invalid:focus {
    border: 1px solid #E5E7EB;
}

/* Sous les input */

button {
    padding: 1rem 3rem;
    width: fit-content;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 0.1) ;
}